.app {
	display: grid;
	grid-template-columns: var(--navWidth) 1fr;
	height: 100%;
}

.navWrapper {
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}

.contentArea {
	background-color: #ffffff;
	opacity: 0.1;
	width: 100%;
}
