:root {
	--backgroundPrimary: #171717;
	--textColorPrimary: #ffffff;
	--textColorSecondary: rgba(255, 255, 255, 0.5);
	--textSemibold: 600;
	--navWidth: 156px;
	--navHoverBackground: rgba(255, 255, 255, 0.04);
	--navActiveBackground: rgba(255, 255, 255, 0.08);
}

body {
	background-color: var(--backgroundPrimary);
	color: var(--textColorPrimary);
	letter-spacing: 0.3px;
	font-size: 1rem;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

#root {
	height: 100%;
}

h1 {
	font-family: -apple-system, sans-serif;
	letter-spacing: -0.6px;
}

p {
	font-size: 1em;
	letter-spacing: 0.5px;
	opacity: 60%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
